<%if @node%> 
	<% text_area_form_hide_or_show = "text_area_form_hide_or_show_" +  (@node.id).to_s %>

	<% botresponses_messages_area_text_area = "botresponses_messages_area_text_area_" + (@node.id).to_s%>
	<% botresponses_text_message_node_type = "botresponses_text_message_node_type_" + (@node.id).to_s%>
	<% botresponses_text_message_bot_id = "botresponses_text_message_bot_id_" + (@node.id).to_s%>
	<% botresponses_text_message_message_type = "botresponses_text_message_message_type_" + (@node.id).to_s%>
	<% botresponses_text_message_node_id = "botresponses_text_message_node_id_" + (@node.id).to_s%>
	<% delete_text_message_text_area = "delete_text_message_text_area_" + (@node.id).to_s%>

	<script src = "/assets/ckeditor/ckeditor.js" > </script>

	<div class="text-center mx-auto hide" id= <%= text_area_form_hide_or_show%>>
	<%= form_with scope: :message, url: nodes_message_create_path, method: :post,  remote: true do |f| %>
		<div class="text-center botresponses_messages_area_full">
			<%= text_area :message, :text_messages, cols: 30, rows: 4, id: botresponses_messages_area_text_area %>
			<%= f.text_field :node_type, value: "bot", class: "hide", id: botresponses_text_message_node_type%>
			<%= f.text_field :bot_id, value: @bot.id , class: "hide", id: botresponses_text_message_bot_id%>
			<%= f.text_field :message_type, value: "text" , class: "hide", id: botresponses_text_message_message_type%>
			<% if Node.where(bot_id: @bot.id, parent_id: parent_id).first%>
			<%= f.text_field :node_id, value: @node.id, class: "hide", id: botresponses_text_message_node_id%>
			<% end %>
			
			<div class="row mb-1 ml-2">
				<div class="col-4 mt-2">
					<%= link_to image_tag('dustbin.png', size: "12", class: "styling_the_delete_position_text_area"), nodes_message_delete_text_area_path(@node.id),id: delete_text_message_text_area, method: :get ,remote: true, class: ""%>
				</div>
				<div class="col-8" style="text-align: right;">
					<%= f.submit "Add", value: "Add", class: "btn btn-outline-secondary btn-sm mr-4", style: "height: 30px; margin-top: 5px; text-align: right;"%>
				</div>
			</div>
		</div>
	<% end %>	
	</div>

	<script type="text/javascript">		
	    editor = CKEDITOR.replace('<%= botresponses_messages_area_text_area %>');
	    editor.setData('<p></p>'); 
	</script>

<%end%>
