<% usermessages_define_node_partial = "usermessages_define_node_partial_" + (@node.id).to_s%>
<% add_number_of_nodes = "add_number_of_nodes_" + (@node.id).to_s%>
<% usermessages_error_node_main = "usermessages_error_node_main_" + (@node.id).to_s%>

<div id="<%= usermessages_define_node_partial %>">
	<%= render 'home/edit/nodes/usermessages_define_node_with_forloop'%>
</div>

<div class="row mb-2">
	<div class="connector_black_link"></div>
	<div class="usermessage_white_box">
		<div class="row">
			<div class="col-1 text-center mt-2 ml-2">
				<%= image_tag('greenflash.JPG', size: "14", class: "rounded-circle")%>
			</div>
			<div class="col-4 mt-2", style="padding-right: 5px;">
				Add node
			</div>
			<div class="col-6 mt-2", style="padding-left: 5px;">
				<%= form_with scope: :number_of_nodes, url: add_number_of_nodes_path(@bot.id,@node.id, "user"), method: :post, remote: true do |f| %>
			    <span class=" text-center">
				  	<%= link_to "-", number_of_nodes_decrement_path(@node.id), class: "custom_link", remote: true %>
					<%= f.text_field :number, id: add_number_of_nodes, class: "number_of_nodes_field text-center", value: 1 ,style: "width:30px;", local: true%>
					<%= link_to "+", number_of_nodes_increment_path(@node.id), class: "custom_link", remote: true %>
				</span>
				<span class="text-center ml-4">
					<%= f.submit "Add" ,value: "Add", class: "usermessage_add_button", remote: true%>
				</span>
			  	<% end %>
			</div>
		</div>
	</div>	
</div>

<div class="row">
	<div class="connector_black_link"></div>
	<div  id= <%= usermessages_error_node_main%>>
		<%= render 'home/edit/nodes/usermessages_error_node'%>	
	</div>
</div>



