<% error_message_define = "error_message_define_" + (@node.id).to_s%>
<% error_message_expanded = "error_message_expanded_" + (@node.id).to_s%>
<% error_message_compressed = "error_message_compressed_" + (@node.id).to_s%>

<div class="usermessage_error_message" id= <%= error_message_define%>>
	<%= render 'home/edit/nodes/usermessages_error_define_node'%>
</div>
<div class="usermessage_error_message hide" style="margin-bottom: 330px;" id= <%= error_message_expanded %>>	
	<%= render 'home/edit/nodes/usermessages_error_node_expanded'%>
</div>
<div class="usermessage_error_message hide" style="margin-bottom: 170px;" id= <%= error_message_compressed %>>	
	<%= render 'home/edit/nodes/usermessages_error_node_compressed'%>
</div>


<script type="text/javascript">
	<% error_message_define = "error_message_define_" + (@node.id).to_s%>
	<% error_message_expanded = "error_message_expanded_" + (@node.id).to_s%>
	<% error_message_compressed = "error_message_compressed_" + (@node.id).to_s%>

	<%if Node.where(bot_id: @bot.id, parent_id: @node.id, node_type: "error").first%>		
		<% error_node = Node.where(bot_id: @bot.id, parent_id: @node.id, node_type: "error").first%>
		document.getElementById('<%= error_message_define %>').classList.add('hide');
		document.getElementById('<%= error_message_expanded %>').classList.add('hide');
		document.getElementById('<%= error_message_compressed %>').classList.remove('hide');
	<%end%>
</script>