<div class="row">
	<div class="col-1 text-center mt-2 ml-2">
		<%= image_tag('redflash.JPG', size: "14", class: "rounded-circle")%>
	</div>
	<div class="col-6 mt-2", style="padding-right: 5px;">
		Error Response
	</div>
	<%if Node.where(bot_id: @bot.id, parent_id: @node.id, node_type: "error").first%>
		<% @error_node = Node.where(bot_id: @bot.id, parent_id: @node.id, node_type: "error").first %>
		<% error_node_form_out_loop = "error_node_form_out_loop_" + (@error_node.id).to_s%>
		<% add_another_error_attempt = "add_another_error_attempt_" + (@error_node.id).to_s%>
		<% no_error_message_warning = "no_error_message_warning_" + (@error_node.id).to_s%>
		<div class="error_node_expanded_white">
			<% number = 0%>
			<% warning = false%>
			<!-- looping all error cards and its forms -->
			<% for message in Message.where(node_type: "error", node_id: @error_node.id)%>
				<% number = number + 1%>
				<% error_node_form_in_loop = "error_node_form_in_loop_" + (@error_node.id).to_s + "_" + (message.id).to_s%>
				<% error_node_edit_icon_for_message = "error_node_edit_icon_for_message_" + (@error_node.id).to_s + "_" + (message.id).to_s %>
				<% error_node_message_card_in_expanded = "error_node_message_card_in_expanded_" + (@error_node.id).to_s + "_" + (message.id).to_s%>				
				<!-- error number -->
				<div class="mb-2 row">
					<div class="col-8">
						<%if (number)%10 == 1 && number != 11%>
							<%= number%>st			 
						<%elsif (number)%10 == 2  && number != 12%>
							<%= number%>nd			 
						<%elsif (number)%10 == 3  && number != 13%>
							<%= number%>rd
						<%else%>	
							<%= number%>th		
						<%end%>
						error attempt 
						<%if warning%>						
							<span class="tooltip-toggle" aria-label= "All the previous attempts should be only of the type 'Send Error Messages'">
								<%= image_tag('warning.png', size: "20", class: " ")%>
							</span>
						<%end%>
						<%if message.error_node != "error_message"%>
							<% warning = true%>
						<%end%>
					</div>
					<div class="col-1">
						<%= link_to image_tag('editiconblack.png', size: "14", class: ""), error_node_editing_message_path(message.id), remote: true, id: error_node_edit_icon_for_message%>
					</div>	
					<div class="col-1">	
						<%= link_to image_tag('dustbin.png', size: "14", class: ""), error_message_attempt_delete_path(message.id), method: :delete, remote: true %>
					</div>
				</div>
				<!-- error card -->
				<div class="error_node_message_text_area error_node_message_text_area_text p-2 mb-2" id= <%= error_node_message_card_in_expanded %>>
					<div style="font-size: 12px; color: rgb(200,200,200);">
						<%if message.error_node == "error_message"%>
							Send Error Message
						<%elsif message.error_node == "transfer_to_agent"%>
							Transfer to agent group : <b>Group - 1</b>
						<%elsif message.error_node == "link_to_node"%>
							Link to another node : 
							<b>
								<%if message.error_node_link_to_node%>
									<%= truncate(Node.find(message.error_node_link_to_node).name, length: 20)%>
								<%else%>
									<span style="color: red;">Please select a node</span>
								<%end%>
							</b>
						<%elsif message.error_node == "exit_message"%>
							Exit conversation
						<%end%>
					</div>

					<div>
						<%if message.error_node == "error_message"%>
							<%= message.error_node_message%>
						<%elsif message.error_node == "transfer_to_agent"%>
							<%= message.error_node_transfer_to_agent_message%>
						<%elsif message.error_node == "link_to_node"%>
							<%= message.error_node_link_to_message%>
						<%elsif message.error_node == "exit_message"%>
							<%= message.error_node_exit_message%>
						<%end%>
					</div>
				<!-- error card end -->
				</div>
				<div class="error_message_node_form_showing_off hide mt-2" id= <%=error_node_form_in_loop %>>					
					<%= render 'home/edit/nodes/usermessages_error_node_expanded_form', message: message%>
				</div>
			<!-- end of looping cards and forms -->
			<%end%>
			
			<%if number == 0%>
				<div class="error_node_message_text_area error_node_message_text_area_text p-4 mb-2 text-center" id= <%= no_error_message_warning %>>
					No error messages are added
				</div>
			<%end%>

			<!-- form for adding new messages -->
			<div class="hide" id= <%= error_node_form_out_loop%>>
				<% number = number + 1%>
				<span class="mb-2" >
					<%if (number)%10 == 1 && number != 11%>
						<%= number%>st			 
					<%elsif (number)%10 == 2  && number != 12%>
						<%= number%>nd			 
					<%elsif (number)%10 == 3  && number != 13%>
						<%= number%>rd
					<%else%>	
						<%= number%>th		
					<%end%>
					error attempt 
				</span>
				<% if number != 1%>
				<span class="" style="margin-left: 105px;">	
					<%= link_to image_tag('dustbin.png', size: "14", class: ""), error_node_delete_icon_for_new_attempt_path(@error_node.id), remote: true %>
				</span>
				<%end%>
				<div class="error_message_node_form_showing_off mt-2">
					<%= render 'home/edit/nodes/usermessages_error_node_expanded_form', message: "default"%>
				</div>
			</div>

			<!-- save and add another error attempt to collpase exapnded and add new error message -->
			<div class="text-center mt-2">
				<%= link_to " + Add another error attempt", error_node_add_another_error_attempt_path(@error_node.id), class: "add_another_error_attempt", id: add_another_error_attempt, remote: true %>
				<%= link_to "Show compressed view", error_node_save_path(@error_node.id), class: "btn btn-sm btn-outline-secondary  mt-2", style: "color: grey; width: 240px;", remote: true%>
			</div>
		<!-- end of the white part in expanded -->
		</div>

	<%end%>
</div>

<script type="text/javascript">
	
</script>