<%= render 'layouts/navbar_main'%>
<%= render 'layouts/navbar_navigation_botsettings'%>
<%= render 'layouts/messages'%>
<div class="container">
	<!-- main content -->
	<div class="row mt-4">
    <!-- left content -->
  
		<div class="col-4 rowheight_three bg-white botsettings_border hide" id="botsettings_startsetup">
      <%= render 'home/edit/botsettings_startsetup'%>
		</div>
    <div class="col-4 rowheight_three bg-white botsettings_border" id="botsettings_startsetup_edit">
       <%= render 'home/edit/botsettings_startsetup_edit'%>
    </div>
    <!-- actual form -->
		<div class="col-8 rowheight_three" id="actualform">
      <%= render 'home/edit/botsettings_main'%>
    </div>
	</div>
</div>

<script type="text/javascript">
      // show form
      <% if (@bot.phone == nil && @bot.language == nil && @bot.initconv == nil && @bot.triggerpoint==nil  && @bot.rebootconv==nil && @bot.active==nil)%>
       document.getElementById('botsettings_startsetup').classList.remove('hide');        
       document.getElementById('botsettings_startsetup_edit').classList.add('hide');        
       document.getElementById('actualform').classList.add('hide');        
      <% end %>
      
      document.getElementById('startsetup').onclick = function() {
        document.getElementById('actualform').classList.remove('hide');
        document.getElementById('botsettings_startsetup').classList.add('hide');
        document.getElementById('botsettings_startsetup_edit').classList.remove('hide');

        document.getElementById('Botlanguage').classList.add('hide');
        document.getElementById('Conversationstarter').classList.add('hide');
        document.getElementById('Bottrigger').classList.add('hide');
        document.getElementById('NoCustomerResponse').classList.add('hide');
      }
</script>