<div id= "set_reminder_click" class = "mt-4 ml-0" >
	<div style = "overflow-y: auto; overflow-x: hidden;" id = "style-1">
		<h4 class = "">Send reminder message if the customer doesn't respond?</h4>	
		<br>
		<div class = "" style = "margin-left: -13px;">
			<div id = "botsettings_reminder">
				<%= render 'home/edit/botsettings_form_previous_reminder' %>
			</div>
			<div id = "botsettings_reminder_form" class = "hide">
				<!-- reminders_create_botsettings_path(@bot.id) -->
				<%= form_with scope: :botsettingsreminder, url: botsettings_reminder_create_path(@bot.id), method: :post,  remote: true do |f| %>
						<%= text_area(:botsettingsreminder, :reminder, cols: 45, rows: 3, class: ' bg-white ml-3 ',id: "botsettings_reminder_form_text_area", placeholder: "Enter reminder message", style: "border-radius: 10px 10px 0px 10px;", remote: true )%>
						<span class = "row mt-1" >
							<div class = "col-4 ml-3">
				                <span style = "color: grey;"> Send After </span>
				                <span class="mr-2 ml-4" style="width: 13px;"><%= select_minute(5, field_name: 'rebootconv', style: "background-color: #f7f2ed;") %></span>
				                <span > min </span>
				            </div> 
				            <div class="col-1"></div>
								<%= f.submit "Add", class: "btn btn-success btn-sm ml-3" %>
							</div> 
						</span>
				<% end %>	
			</div>	
			<div class = "mt-3 ml-2">
				<div id = "add_reminder">
					<span id="add_a_new_reminder" class="mt-3" style="cursor: pointer;color: green; text-decoration: none;">+ Add Another Reminder</span>
				</div>
			</div>		
			<div class = "mt-4 ml-3">
				After sending reminder message
				<div id = "conversation">
					<%= form_with scope: :conversation, url: bot_path(@bot.id), method: :put,  remote: true do |f| %>
						<%= f.text_field :open, value: "open", class: 'hide' %>
						<%= f.text_field :close, value: "close", class: 'hide' %>
						<%=  button_tag(value: "open",id: "open", type: 'submit', class: "container shadow button-bot-settings mb-4 mt-1", style: "width: auto; padding-top: 6px; padding-bottom: 6px; margin-left: -1px;", remote: true ) do %>	
								Keep the Conversation open
						<% end %>
						<%=  button_tag(value: "close", id: "close", type: 'submit', class: "container shadow button-bot-settings ml-3 mb-4 mt-1 text-center", style: "width: auto; padding-top: 6px; padding-bottom: 6px;", remote: true ) do %>	
								End Conversation	
						<% end %>	
					<% end %>	
					<% if @bot.conversation != nil %>
						<% if @bot.conversation  == "open"%>
							<style>
								.button-bot-settings[type="submit"][id="open"][value="open"]{
									box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
									border: solid 1px #00b15c;
									background-color: #deffef;
								};
							</style>
						<% end %>
						<% if @bot.conversation  == "close"%>
							<style>
								.button-bot-settings[type="submit"][id="close"][value="close"]{
									box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
									border: solid 1px #00b15c;
									background-color: #deffef;
								};
							</style>
						<% end %>
		            <% end %>
				</div>
				<span style = "margin-top: 0px;">
					<!-- a simple link to show the compose message link -->
					<%= link_to " Skip this for now", root_path, method: :get, class: "hide btn btn-success mt-4 ml-0", style: "margin-right: 20px;",remote: true, id: "skip_this_for_now" %>
				</span>
	</div>
	</div>
</div>

<script type="text/javascript">
	<% if Reminder.where(bot_id: @bot.id) == [] %>
		document.getElementById('botsettings_reminder_form').classList.remove('hide');
		document.getElementById('skip_this_for_now').classList.remove('hide');
	<%end%>
	document.getElementById('add_a_new_reminder').onclick = function(){
		console.log('qwe');
		document.getElementById('botsettings_reminder_form').classList.remove('hide');
	}
	document.getElementById('skip_this_for_now').onclick = function(){
		document.getElementById('botsettings_reminder_partial').classList.add('hide');
		document.getElementById('botsettings_setup_partial').classList.remove('hide');
	}
	document.getElementById('open').onclick = function(){
		console.log('open');
		document.getElementById('botsettings_reminder_partial').classList.add('hide');
		document.getElementById('botsettings_setup_partial').classList.remove('hide');
	}

	document.getElementById('close').onclick = function(){
		console.log('close');
		document.getElementById('botsettings_reminder_partial').classList.add('hide');
		document.getElementById('botsettings_setup_partial').classList.remove('hide');
	}
</script>
