<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <%= link_to ' â† ReferralYogi', root_path, class:"navbar-brand colomn_break pr-3"%> 

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="name_edit">
        <%= image_tag('chatbot.JPG', size: "25", class: "rounded-circle mr-3")%>
        <span class= "whitetext_two mr-2" id="name_edit_name"><%= truncate(@bot.name, length: 15)%></span>
         <span><%= link_to image_tag('editicon.png', size: "12"), createbotedit_path(@bot.id), id: "name_edit_icon", remote: true%></span>
      </li>
      <li class="nav-item hide" id="name_update">
        <%= form_with scope: :bot, url: createbotupdate_path, method: :put, remote: true do |f| %>
          <span class="mx-auto text-center" style="width: 300px; " >
            <%= f.text_field :name, class: "editnamefield", value: @bot.name, remote: true%> 
          </span>
          <span class="form-group mx-auto text-center mt-4" style="width: 300px;">
            <%= f.submit value: "Update", class: "btn btn-sm createbotbutton", remote: true%>
          </span>
        <% end %>  
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete%>
    </div>
  </div>
</nav>